body {
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
}

button {
  cursor: pointer;
  border-radius: 4px;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(169, 136, 90);
}

.main-wrapper {
  display: flex;
  flex: 1;
}

/* shared css */
.sidebar-title,
.todolist-title {
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
}

.addProject-btn,
.add-project button,
.edit-project button,
.addTask-btn,
.edit-task-btn,
.dlt-task-btn {
  &:hover {
    background-color: rgb(220, 220, 220);
  }
}

.dlt-task-btn svg,
.edit-task-btn svg,
.dlt-project-btn svg,
.edit-project-btn svg {
  width: 16px;
  height: 16px;
}

.add-project-form-wrapper,
.add-task-form-wrapper,
.edit-task-form-wrapper {
  display: flex;
  flex-direction: column;
}

/* sidebar css */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 8px;
  min-height: 100%;
  min-width: 0;
  width: clamp(200px, 10vw ,300px);
  background-color: rgb(190, 134, 99);
  overflow: hidden;
}

.sidebar-projects {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar-projects li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.sidebar-projects button {
  background-color: transparent;
  border: 1px solid black;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.project-btn {
  flex: 1;
  justify-content: flex-start;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.project-actions {
  display: flex;
  flex: none;
  flex-direction: column;
}

/* todolist css */
.todolist-wrapper {
  flex: 1;
  padding: 0px 16px;
  background-color: rgb(95, 133, 129);
}